.animation1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;//
    background-color: #1d2b3a;
    .inputBox{
        position: relative;
        width: 250px;
        >input{
            width: 100%;
            padding: 10px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            background-color: #1d2b3a;
            border-radius: 5px;
            outline: none;//
            color: #fff;
            font-size: 1em;//
        }
        >span{
            position: absolute;
            left: 0;
            padding: 11.25px;//
            pointer-events: none;//
            font-size: 1em;
            color: rgba(255, 255, 255, 0.25);
            text-transform: uppercase;
            transition: 0.5s
        }
        input:valid ~ span,input:focus ~ span{//
            color: #00dfc4;
            transform: translateX(15px) translateY(-7px);
            transition: 0.5s;
            font-size: 0.65em;
            padding: 0 10px;
            background-color: #1d2b3a;
            border-left:1px solid #00dfc4;
            border-right:1px solid #00dfc4;
            letter-spacing: 0.2em;
        }
        &:nth-child(2) input:valid ~ span,
        &:nth-child(2) input:focus ~ span{
            background-color: #00dfc4;
            color: #1d2b3a;
            border-radius: 5px;
        }
        input:valid,input:focus{
            border: 1px solid #00dfc4;
        }
    }
}
