* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.animation1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background-color: #1d2b3a;
}
.animation1 .inputBox {
  position: relative;
  width: 250px;
}
.animation1 .inputBox > input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}
.animation1 .inputBox > span {
  position: absolute;
  left: 0;
  padding: 11.25px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.animation1 .inputBox input:valid ~ span, .animation1 .inputBox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(15px) translateY(-7px);
  transition: 0.5s;
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}
.animation1 .inputBox:nth-child(2) input:valid ~ span, .animation1 .inputBox:nth-child(2) input:focus ~ span {
  background-color: #00dfc4;
  color: #1d2b3a;
  border-radius: 5px;
}
.animation1 .inputBox input:valid, .animation1 .inputBox input:focus {
  border: 1px solid #00dfc4;
}

.animation2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.animation2 .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.animation2 .container .card {
  position: relative;
  width: 220px;
  height: 250px;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation2 .container .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.animation2 .container .card .percent svg {
  position: relative;
  transform: rotate(270deg);
  width: 150px;
  height: 150px;
}
.animation2 .container .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px, 5px);
}
.animation2 .container .card .percent svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - 440 * var(--num) / 100);
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation2 .container .card .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  -webkit-animation: animateDot 2s linear none;
          animation: animateDot 2s linear none;
}
@-webkit-keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
.animation2 .container .card .percent .dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--clr);
  box-shadow: 0 0 10px var(--clr);
}
.animation2 .container .number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.animation2 .container .number h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2.5em;
}
.animation2 .container .number h2 span {
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}
.animation2 .container .number p {
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.linkBox {
  position: absolute;
  top: 40px;
}
.linkBox ul {
  display: flex;
}
.linkBox ul li {
  padding: 20px;
  list-style: none;
  background-color: antiquewhite;
}
.linkBox ul li a:visited {
  color: #2a2a2a;
}
.linkBox ul li a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */